[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "minimap"]
	path = minimap
	url = https://github.com/seankross/minimap
[submodule "postcards"]
	path = postcards
	url = https://github.com/seankross/postcards
[submodule "swirl"]
	path = swirl
	url = https://github.com/cran/swirl
[submodule "swirlify"]
	path = swirlify
	url = https://github.com/cran/swirlify
[submodule "tidydatatutor"]
	path = tidydatatutor
	url = https://github.com/seankross/tidydatatutor
[submodule "twilio"]
	path = twilio
	url = https://github.com/seankross/twilio
